<div class="slider">
    <input type="radio" name="slider" checked />
    <div class="slider__content">
      <img
        class="img-carousel"
        src="https://cdn-1.motorsport.com/images/amp/YBek8bn2/s1000/lewis-hamilton-mercedes-amg-ar.jpg"
      />
    </div>
    <input type="radio" name="slider" />
    <div class="slider__content">
      <img
        src="https://media.gq.com/photos/620bb79c0288bf0b3a2494c0/16:9/w_2560%2Cc_limit/5V4A0832%255B2%255D.jpg"
        class="img-carousel"
      />
      <div class="slider__description">
        
      </div>
    </div>
    <input type="radio" name="slider" />
    <div class="slider__content">
      <img class="img-carousel"
        src="https://cdn.dnaindia.com/sites/default/files/styles/full/public/2020/10/25/933537-lewis-hamilton.jpg"
      />
      <div class="slider__description">
        
        
      </div>
    </div>
    <input type="radio" name="slider" />
    <div class="slider__content">
      <img src="http://www.silverarrows.net/wp-content/uploads/2021/04/Lewis-Hamilton-casual.jpg" class="img-carousel"/>
      <div class="slider__description">
        
      </div>
    </div>
    <input type="radio" name="slider" />
    <div class="slider__content">
      <img src="https://footwearnews.com/wp-content/uploads/2018/03/tommy-hilfiger-lewis-hamilton.jpg?w=1024" class="img-carousel"/>
      <div class="slider__description">
        
      </div>
    </div>
  </div>