<div class="slider">
    <input type="radio" name="slider" checked />
    <div class="slider__content">
      <img
        class="img-carousel"
        src="https://www.formula1.com/content/dam/fom-website/sutton/2017/Brazil/Thursday/dcc1709no87.jpg"
      />
    </div>
    <input type="radio" name="slider" />
    <div class="slider__content">
      <img
        src="https://www.mantlemagazine.com/wp-content/uploads/2019/10/Ray-Ban-Ferrari-Header-1.png"
        class="img-carousel"
      />
      <div class="slider__description">
        
      </div>
    </div>
    <input type="radio" name="slider" />
    <div class="slider__content">
      <img class="img-carousel"
        src="https://preview.redd.it/qu955yz9a6631.jpg?auto=webp&s=d2fba18a9af75036d2fcb653f853e46f3913074f"
      />
      <div class="slider__description">
        
        
      </div>
    </div>
    <input type="radio" name="slider" />
    <div class="slider__content">
      <img src="https://preview.redd.it/o301v48fkg951.jpg?auto=webp&s=5fa970ea1a12d712dd2e3877b1d800a64f84e10e" class="img-carousel"/>
      <div class="slider__description">
        
      </div>
    </div>
    <input type="radio" name="slider" />
    <div class="slider__content">
      <img src="https://www.formula1.com/content/dam/fom-website/sutton/2021/BahrainTesting/Friday/1306654175.jpg" class="img-carousel"/>
      <div class="slider__description">
        
      </div>
    </div>
  </div>